<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_id %><br />
    <%= f.number_field :race_id %>
  </div>
  <div class="field">
    <%= f.label :rider_id %><br />
    <%= f.number_field :rider_id %>
  </div>
  <div class="field">
    <%= f.label :signed_release? %><br />
    <%= f.check_box :signed_release? %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
