<h1>Race Entries</h1>

<table border="1">
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>License Number</th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.rider_registration.rider.first_name %></td>
    <td><%= entry.rider_registration.rider.last_name %></td>
    <td><%= entry.rider_registration.rider.license_number %></td>
    <td><%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path, class: "btn" %>
