<h1>Listing entries</h1>

<table>
  <tr>
    <th>Rider</th>
    <th></th>
    <th>License Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.rider_registration.rider.first_name %></td>
    <td><%= entry.rider_registration.rider.last_name %></td>
    <td><%= entry.rider_registration.rider.license_number %></td>

    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
