<h2>Select an Event</h2>
<%= form_tag("/rider_registrations/new_rider") do %>
<%= text_field_tag :license_number %> <br>
<%= button_tag "Find by License Number" %>
<% end %>
<%= form_tag("/rider_registrations/new_rider_by_name", :method => "Post") do %>
    <%= text_field_tag :first_name %> &nbsp &nbsp <%= text_field_tag :last_name %> <br>
    <%= button_tag "Find by Name" %>
<% end %>
<%= form_tag("/riders/new_one_day", :method => "link") do %>
<%= button_tag "Sell One Day License" %>
<% end %>