<h1>Listing rider_registrations</h1>

<table>
  <tr>
    <th>Rider</th>
    <th>Entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rider_registrations.each do |rider_registration| %>
  <tr>
    <td><%= rider_registration.rider_id %></td>
    <td><%= rider_registration.entry_id %></td>
    <td><%= link_to 'Show', rider_registration %></td>
    <td><%= link_to 'Edit', edit_rider_registration_path(rider_registration) %></td>
    <td><%= link_to 'Destroy', rider_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rider registration', new_rider_registration_path %>
