<h1>New rider_registration</h1>

<p> Registering  <%= @rider[:first] %> &nbsp; <%= @rider[:last] %>  <%= @rider[:license_number] %> </p>

<%= simple_form_for :races, :url => "/rider_registrations", :method => :post do |f| %>
    <%=  f.input :name, :collection => @races, :as => :check_boxes %>
    <%= f.submit "Register" %>
<% end %>

                                                                                                                                                  r