<p id="notice"><%= notice %></p>

<p>
  <b>Rider:</b>
  <%= @rider_registration.rider.name %> <br>
  License <%= @rider_registration.rider.license_number %>
</p>

<p>
  <% if length(@entries) == 1 %>
      <b>Race:</b>
  <% else %>
      <b>Races:</b>
  <% end %>
  <% @entries.each do |e| %>
    <%= e.race.name %><&nbsp><%= e.number %><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_rider_registration_path(@rider_registration) %> |
<%= link_to 'Back', rider_registrations_path %>
