<h1>Listing races for <%= @race.first.race_event.name %></h1>

<%= form_tag("/entries/index_by_race") %>
<% @races.each do |r| %>
    <%= radio_button_tag :race, r.id %> <%= r.name %><br>
<% end %>
<%= submit_tag "Select" %>
