<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @race_event.name %>
</p>

<p>
  <b>Date:</b>
  <%= @race_event.date %>
</p>

<p>
  <b>Race type:</b>
  <%= @race_event.race_type_id %>
</p>


<%= link_to 'Edit', edit_race_event_path(@race_event) %> |
<%= link_to 'Back', race_events_path %>
