<%= simple_form_for(@rider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :suspended %>
    <%= f.input :license_number %>
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :female %>
    <%= f.input :racing_age %>
    <%= f.input :exp_date %>
    <%= f.input :rd_club %>
    <%= f.input :rd_team %>
    <%= f.input :track_club %>
    <%= f.input :track_team %>
    <%= f.input :cx_club %>
    <%= f.input :cx_team %>
    <%= f.input :intl_team %>
    <%= f.input :ncca_club %>
    <%= f.input :road_cat %>
    <%= f.input :track_cat %>
    <%= f.input :cross_cat %>
    <%= f.input :birthdate %>
    <%= f.input :citizen %>
    <%= f.input :emergency_contact %>
    <%= f.input :e-contact_phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
