<p id="notice"><%= notice %></p>

<p>
  <b>License number:</b>
  <%= @rider.license_number %>
</p>

<p>
  <b>Citizen:</b>
  <%= @rider.citizen %>
</p>

<p>
  <b>Sex:</b>
  <%= @rider.sex %>
</p>

<p>
  <b>State:</b>
  <%= @rider.state %>
</p>

<p>
  <b>Racing age:</b>
  <%= @rider.racing_age %>
</p>

<p>
  <b>Rd cat:</b>
  <%= @rider.rd_cat %>
</p>

<p>
  <b>Cx cat:</b>
  <%= @rider.cx_cat %>
</p>

<p>
  <b>Dh cat:</b>
  <%= @rider.dh_cat %>
</p>

<p>
  <b>Mx ds cat:</b>
  <%= @rider.mx_ds_cat %>
</p>

<p>
  <b>Ot cat:</b>
  <%= @rider.ot_cat %>
</p>

<p>
  <b>Rd club:</b>
  <%= @rider.rd_club %>
</p>

<p>
  <b>Tk club:</b>
  <%= @rider.tk_club %>
</p>

<p>
  <b>Cx club:</b>
  <%= @rider.cx_club %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @rider.birthdate %>
</p>


<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
