<p id="notice"><%= notice %></p>

<p>
  <b>Suspended:</b>
  <%= @rider.suspended %>
</p>

<p>
  <b>License number:</b>
  <%= @rider.license_number %>
</p>

<p>
  <b>Last name:</b>
  <%= @rider.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @rider.first_name %>
</p>

<p>
  <b>City:</b>
  <%= @rider.city %>
</p>

<p>
  <b>State:</b>
  <%= @rider.state %>
</p>

<p>
  <b>Female:</b>
  <%= @rider.female %>
</p>

<p>
  <b>Racing age:</b>
  <%= @rider.racing_age %>
</p>

<p>
  <b>Exp date:</b>
  <%= @rider.exp_date %>
</p>

<p>
  <b>Rd club:</b>
  <%= @rider.rd_club %>
</p>

<p>
  <b>Rd team:</b>
  <%= @rider.rd_team %>
</p>

<p>
  <b>Track club:</b>
  <%= @rider.track_club %>
</p>

<p>
  <b>Track team:</b>
  <%= @rider.track_team %>
</p>

<p>
  <b>Cx club:</b>
  <%= @rider.cx_club %>
</p>

<p>
  <b>Cx team:</b>
  <%= @rider.cx_team %>
</p>

<p>
  <b>Intl team:</b>
  <%= @rider.intl_team %>
</p>

<p>
  <b>Ncca club:</b>
  <%= @rider.ncca_club %>
</p>

<p>
  <b>Road cat:</b>
  <%= @rider.road_cat %>
</p>

<p>
  <b>Track cat:</b>
  <%= @rider.track_cat %>
</p>

<p>
  <b>Cross cat:</b>
  <%= @rider.cross_cat %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @rider.birthdate %>
</p>

<p>
  <b>Citizen:</b>
  <%= @rider.citizen %>
</p>

<p>
  <b>Emergency contact:</b>
  <%= @rider.emergency_contact %>
</p>

<p>
  <b>E-contact phone:</b>
  <%= @rider.e-contact_phone %>
</p>


<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
